.App {
  height: 100vh;
  color: #f2f2f2;
}

.page {
  // margin: 56px auto auto auto;
  // padding: 56px 72px 0 72px;

  &__title {
    margin-bottom: 40px;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
